:root {
  --primary-text-color: #212121;
  --text-color: #2196f3;
  --main-text-color: #757575;
  --accent-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
/*-----утилиты----*/
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  padding-left: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-content {
  padding-top: 0;
}
.list {
  list-style: none;
}
.items {
  display: flex;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.caption__section {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.pic {
  display: block;
}
/*===heder===*/
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-right: 93px;
}
.logo {
  color: var(--primary-text-color);
}

.menu {
  display: flex;
}
.menu li:not(:last-child) {
  margin-right: 50px;
}

.menu__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item:hover,
.menu__item:focus {
  color: var(--text-color);
}
.menu__item--active {
  color: var(--text-color);
}
.menu__item--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--text-color);
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.nav {
  display: flex;
  margin-left: auto;
}
.nav li:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--text-color);
}

.nav__icon:hover,
.nav__icon:focus {
  fill: var(--text-color);
}
.nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*=====hero=====*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container__hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1600px;

  background-size: cover;
  background-position: center;
}
.hero__title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;

  margin: 0 auto;
  max-width: 696px;
}
.hero__btn {
  color: var(--accent-color);
  background-color: var(--text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 30px;
  border-radius: 4px;
}

/*section*/

.section-title {
  color: #2f303a;
}

/*box*/

.box {
  width: 270px;
}
.box:not(:last-child) {
  margin-right: 30px;
}
.box__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.box__title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}
.box__text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.form-footer {
  margin-left: auto;
}
.form-footer-title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.form-footer-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #afb1b8;
}
/*.form-footer-email::placeholder {
}*/
.form-footer-button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-right: auto;
}
.form-footer-button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  padding-left: 28px;
}
.form-button-icon {
  margin-left: 10px;
  display: flex;
}

/*h2 index*/

.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper :not(:last-child) {
  margin-right: 30px;
}
.wrapper__holder {
  position: relative;
}
.wrapper__inner > .wrapper__text {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.wrapper__text {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

---------/*sectoin__wors*/---------
.section__works {
  background-color: #f5f4fa;
}
.section__works li:not(:last-child) {
  margin-right: 10px;
}
.meta {
  display: flex;
  justify-content: space-between;
}
.wrap {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.wrap__aside {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.wrap__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.wrap__tagline {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

------/*social-list*/------


.social__list-item {
  display: flex;
}
.social__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social__list-item:not(:last-child) {
  margin-right: 10px;
}
.social__list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50px;
}
.social__list-link:hover,
.social__list-link:focus {
  background-color: var(--text-color);
}
.social__list-link:hover svg,
.social__list-link:focus svg {
  fill: var(--accent-color);
}
.social__list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

------------/*button*/---------

.btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.items-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.items-btn :not(:last-child) {
  margin-right: 8px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item {
  flex-basis: calc((100% - 60px) / 3);
}
.product {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inner {
  position: relative;
  overflow: hidden;
}
.subtitle:hover .product,
.subtitle:focus .product {
  transform: translateY(0);
  opacity: 1;
}
.subtitle {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.desc {
  color: rgba(255, 255, 255, 1);
  width: 322px;
  height: 168px;
  padding: 63px 24px;
  line-height: 1.55;
}
.subtitle:hover,
.subtitle:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-aside {
  padding: 20px 24px;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/*h2*/
.caption {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;

  margin: 0px;
  margin-bottom: 4px;
}

----------/*new section*/------
.subject  {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: center;
}

.row :not(:last-child) {
  margin-right: 30px;
}

.items__logo {
  display: flex;
}
.items__logo-link {
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  justify-content: center;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items__logo-link:hover .items__logo-list,
.items__logo-link:focus .items__logo-list {
  fill: var(--text-color);
}
.items__logo-link:hover,
.items__logo-link:focus {
  border-color: var(--text-color);
}
.items__logo-list {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*footer*/
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer__logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  margin-right: 93px;
}
.footer-logo {
  margin-bottom: 28px;
}
.logo-footer {
  color: var(--accent-color);
}
.contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  display: block;
  margin-bottom: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--text-color);
}
.contact-address {
  font-style: normal;
}
.contact-item {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  margin-bottom: 12px;
}

.footer-contact {
  margin-bottom: 0;
}
.footer-aside {
  margin-left: 70px;
}
.footer-subject {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.social {
  display: flex;
  margin-top: 20px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  display: flex;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--text-color);
}
.social-icon {
  fill: var(--accent-color);
}
.social-link:hover svg,
.social-link:focus {
  fill: var(--accent-color);
}
/*===modal===*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.modal-class-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  padding: 0;
  cursor: pointer;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-class-btn:hover .modal-close-icon,
.modal-class-btn:focus .modal-close-icon {
  fill: var(--text-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*---===modal-form===---*/
/*.form {
}*/
.subtitle-form {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.contact-form {
  display: block;
  color: var(--main-text-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.contact-form-input:focus {
  outline: none;
  border-color: var(--text-color);
}
.contact-form-input:focus + .text-form-icon {
  fill: var(--text-color);
}
.text-form-icon {
  display: block;
  position: absolute;
  top: 11px;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message {
  width: 100%;
  height: 120px;
  outline: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form-message:focus {
  border-color: var(--text-color);
}

.label-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.input-checkbox:checked + .checkbox-icon {
  background-color: var(--text-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:focus + .checkbox-icon {
  border-color: var(--text-color);
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.form-checkbox-text a {
  color: var(--text-color);
}
.form-btn {
  width: 200px;
  height: 50px;
  background: var(--text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.form-btn-text {
  font-weight: 700;
  color: var(--accent-color);
  align-items: center;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
